<!DOCTYPE HTML>
<!--
  Identity by HTML5 UP
  https://html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

  Hugo Identity by Pavel Kanyshev
  https://github.com/aerohub
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

  Additional changes by Michael Grosser
  https://about.stp-ip.net
  Free for personal and commercial use under the CCA 3.0 license (https://creativecommons.org/licenses/by/3.0/legalcode)
-->
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<html>
  {{ partial "header.html" . }}
  <body class="is-loading">

    <!-- Wrapper -->
      <div id="wrapper">
        <!-- Main -->
          <section id="main">
            <header id="header">
              <span class="avatar"><img src="/images/avatars/{{ .Site.Params.personal.avatar }}" alt="avatar" height="130" width="130" ></span>
              <h1 class="name">
                {{ with .Site.Params.personal.name }}
                  {{ . }}
                {{ else }}
                  {{ .Site.Params.author }}
                {{ end }}
              </h1>
              {{ with .Site.Params.personal.livesIn }}
                <h5 class=location>Ambassador of {{ . | markdownify }}</h5>
              {{ end }}

              {{ with .Site.Params.personal.position }}
                <h2 class="position">{{ . | markdownify }}</h2>
              {{ end }}
              <a href="blog/index.html">My blog</a> <br>
              <h3>Yo,  check out my <a onclick="soundcloudVis()">Soundcloud</a></h3>
              {{ with .Site.Params.personal.scope }}
              <ul>
                {{ range . }}
                  <li>{{ . | markdownify }}</li>
                {{ end }}
              </ul>
              {{ end }}

              {{ with .Site.Params.personal.biography }}
                <span class="biography">{{ . | markdownify }}</span>
              {{ end }}
              <iframe id="bobSoundcloud" scrolling="no" frameborder="no"></iframe>
            </header>
              <div style="
              -webkit-filter: saturate(2);
              filter: saturate(2);">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d485351.47781434545!2d-77.30502869133578!3d18.126636174519657!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sno!2sno!4v1494089171731" width="70%" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            <footer>
              <ul class="icons">
                {{ range .Site.Params.social }}
                  <li><a href="{{ .link }}" class="{{ .icon }}">{{ .title }}</a></li>
                {{ end }}
              </ul>
              {{ if .Site.Params.contact.enable }}
                {{ partial "contact.html" . }}
              {{ end }}
            </footer>
          </section>
        <!-- Footer -->
          {{ partial "footer.html" . }}

      </div>
    {{ partial "footer_scripts.html" . }}
  </body>
  <script>
    function soundcloudVis(){ 
      document.getElementById("bobSoundcloud").style= 'visibility="visible"'
      document.getElementById("bobSoundcloud").src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233701420&amp;auto_play=true&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
    }
    var button = document.getElementById("bobSoundcloud");
    var browserWidth = window.innerWidth || document.documentElement.clientWidth;
    var browserHeight = window.innerHeight || document.documentElement.clientHeight;
    var buttonWidth = button.offsetWidth;
    var buttonHeight = button.offsetHeight;
    function move() {
        button = document.getElementById("bobSoundcloud");
        button.style.left = Math.floor(Math.random()*(browserWidth-buttonWidth)) + "px";
        button.style.top = Math.floor(Math.random()*(browserHeight-buttonHeight)) + "px";
    }
 
    if(typeof addEventListener !== "undefined") {
        button.addEventListener("mouseover", move, false);
    } else if (typeof attachEvent !== "undefined") {
        button.attachEvent("onmouseover", move);
    } else {
        button.onmousover = move;
    }
    function button(){
      alert("yay")
    }
  </script>
</html>
