<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
  <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
  {{ .Hugo.Generator }}
  <title>{{ .Site.Title }}</title>
  {{ if .Site.Params.favicon_ico }}
    <link rel="icon" href="/images/icons/{{ .Site.Params.favicon_ico  }}" type="image/x-icon" {{ if .Site.Params.favicon_ico_sizes }}sizes="{{ .Site.Params.favicon_ico_sizes  }}"{{ end }} />
  {{ end }}
  {{ if .Site.Params.favicon_png }}
    <link rel="icon" href="/images/icons/{{ .Site.Params.favicon_png  }}" type="image/png" {{ if .Site.Params.favicon_png_sizes }}sizes="{{ .Site.Params.favicon_png_sizes  }}"{{ end }} />
  {{ end }}
  {{ if .Site.Params.favicon_svg }}
    <link rel="icon" href="/images/icons/{{ .Site.Params.favicon_svg  }}" type="image/svg+xml" sizes="any" />
  {{ end }}
  <link rel="apple-touch-icon-precomposed" href="/images/icons/{{ .Site.Params.appleicon  }}" />

  <link rel="stylesheet" href="/assets/css/main.css" />

  {{ if not .Site.Params.custom_background }}
    <link rel="stylesheet" href="/assets/css/page.css" />
  {{ end }}

  {{ if not .Site.Params.custom_icons }}
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  {{ end }}

  {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{ end }}

  <!--[if lte IE 8]><script src="/assets/js/html5shiv.js"></script><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->

  <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
  <!--Test-->
</head>
